.icon {
  &_size {
    &_sm {
      width: 18px;
      height: 18px;
    }

    &_md {
      width: 24px;
      height: 24px;
    }

    &_lg {
      width: 30px;
      height: 30px;
    }

    &_xl {
      width: 36px;
      height: 36px;
    }
  }
}
