@import "@/styles/variables.scss";
@import '@/styles/media.scss';

.reply-current-message {
  width: calc(100% - 20px);
  display: flex;
  margin: 5px;
  margin-left: 15px;
  box-sizing: content-box;

  @include _480 {
    padding-left: 15px;
  }

  &_position_left {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  &_position_right {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
  }

  &-selected-container {
    width: 100%;
    max-height: 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 28px;
    border-left: 2px solid $blue_lite;
    padding: 0 10px;
    position: relative;
  }

  &_button_close {
    display: flex;
    box-sizing: content-box;
    font-size: 18px;
    padding: 5px;
    margin: 0;
    width: 18px;
  }

  &-type {
    font-size: 0.75rem;
    color: $grey_lite;
  }
}
