.message-attachment-image {
  width: 100%;
  height: 100%;
  max-height: 350px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  @media (max-width: 768px) {
    max-height: 250px;
  }

  &--reply {
    margin-left: 0;
    border-top-left-radius: 0;
  }
}
