@import "@/styles/variables.scss";

.contacts-list {
  padding: 0 !important;

  .contacts-content {
    padding-left: 10px;
  }

  .contacts-item {
    margin: 0 !important;

    &:hover {
      background: $contact_on_hover;
    }

    &--icon {
      margin: 0 10px 0 0;
    }
  }

  .contacts-school-icon {
    height: 18px;
    width: 18px;
    margin: 0 6px 0 0;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;

    .school-logo {
      width: 18px;
      height: auto;
      margin: 0;
    }
  }

  //временно
  .avatar {
    .ant-scroll-number.ant-badge-dot {
      display: none;
    }
  }
}

.scroll_contacts_style_as {
  overflow-x: hidden;
  height: 100% !important;
}

.user_name_to {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
