@import '@styles/variables.scss';

.menu_list {
    width: 100%;
}

.avatar {
    span {
        img {
            border-radius: 40%;
        }
    }

}

.online_dot {
    .ant-badge-dot {
        background: $blue_accent;
        width: 7px;
        height: 7px;
        box-shadow: 0 0 0 2px $white;
    }

    .ant-badge-count,
    .ant-badge-dot,
    .ant-badge .ant-scroll-number-custom-component {
        top: 5px !important;
        right: 5px !important;
    }
}



.last_msg {
    width: 100%;
    overflow: hidden;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .from {
        margin-right: 5px;
        display: inline-block;
        color: $blue_origin;
    }
}



.channel-container {
    margin-bottom: 10px;
}

.radio_btn {
    &.all {
        width: 38%;
    }
}

.ant-collapse-content>.ant-collapse-content-box {
    padding: 8px;
}

.ant-input-group-wrapper {
    height: 100%;
}

.ant-input-group {
    height: 100%;
}

.ant-collapse {
    background: #f4f5f6 !important;
    background-color: #f4f5f6 !important;
}

.search .search-input {
    input {
        margin: 0 !important;
    }
}

.ant-collapse-borderless>.ant-collapse-item:last-child,
.ant-collapse-borderless>.ant-collapse-item:last-child .ant-collapse-header {
    border: none !important;
}

.ant-collapse-content-box {
    border: none !important;
    background: transparent !important;
}

.ant-collapse>.ant-collapse-item>.ant-collapse-header {
    padding: 0;
    overflow: hidden;
    border: none !important;
    background: transparent !important;
}

.ant-input-group-addon {
    background: transparent !important;
}


.channel-container {
    display: flex;
    height: 70px;
    flex-direction: row;
    flex-wrap: wrap;
}

.channel-item {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    svg {
        margin-right: 5px;
    }
}

.ant-radio-group {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.ant-radio-button-wrapper {
    padding: 0;
    background: transparent !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #dfdfdf !important;

    &:hover {
        background: $blue_soft !important;
    }
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    background: $blue_soft !important;
    border-color: #1890ffa8 !important;
}


.filter_container {
    display: none;
    padding: 10px 0;
}

.search {
    width: 100%;
    height: 45px;
    padding: 0px;
    position: relative;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: $grey_blue_litter;

    .search-input {
        width: 100%;
        height: 100%;

        input {
            width: 100%;
            height: 100%;
            border: none;
            background: none;
            margin: 0 10px;
            outline: none;
        }
    }

    .search-filter {
        width: 45px;
        height: 45px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &:hover {
            svg {
                fill: $blue_accent;
            }
        }

        cursor: pointer;
    }

    .search-btn {
        position: absolute;
        right: 10px;
        height: 100%;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.contacts-item {
    border-bottom: 1px solid $grey_blue_lite;
}

.contact_item {
    width: 100%;
    height: 60px;
    padding: 10px 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    cursor: pointer;

    &:hover {
        background: #11111107;
    }

    .avatar {
        width: 36px !important;
        height: 36px !important;
        min-width: 36px !important;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        .online_dot {
            .ant-badge-dot {
                background: $blue_accent;
            }

            .ant-badge-count,
            .ant-badge-dot,
            .ant-badge .ant-scroll-number-custom-component {
                top: 29px;
                transform: none !important;
            }
        }

        img {
            border-radius: 14px !important;
            width: 36px !important;
            height: 36px !important;
        }
    }

    .unreaded_count {
        background: $blue_active;
        padding: 0px 10px;
        border-radius: 10px;
        color: $white;
        position: absolute;
        right: 10px;
        font-size: 12px;
        bottom: 10px;
    }

    .content {
        width: 83%;
        display: flex;
        flex-direction: column;

        .header {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
        }

        .name {
            font-size: 16px;
            font-weight: 600;
        }

        .date_last_msg {
            font-size: 12px;
            color: $grey_default;
        }

        .last_msg.unread {
            width: 85%;
        }


    }

}