@import "~@/styles/variables.scss";

.contacts-list {
  padding: 0 !important;

  .contacts-content {
    padding-left: 10px;
  }

  .contacts-item {
    margin: 0 !important;

    &:hover {
      background: $blue_soft;
    }

    &--icon {
      margin: 0 10px 0 0;
    }
  }

  .contacts-info-icon {
    margin: 0 6px 0 0;

    .social_media_icon {
      position: relative;
      top: 1px;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .school-logo {
      margin: 0;
      box-shadow: 0 0 0 2px $ui_white;
    }
  }

  //временно
  .avatar {
    .ant-scroll-number.ant-badge-dot {
      display: none;
    }
  }
}

.scroll_contacts_style_as {
  overflow-x: hidden;
  height: 100% !important;
}

.user_name_to {
  white-space: nowrap;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}
